name: 定时采集

on:
  schedule:
    #- cron: '25 10,22 * * *'
  workflow_dispatch:

jobs:
  snapshot:
    runs-on: ubuntu-latest  # 在 Ubuntu 上运行

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set Timezone
        uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "Asia/Shanghai"

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.23.4'

      - name: Install dependencies
        run: go mod tidy

      - name: Create Snapshot
        run: go run main.go

      - name: is Always fail
        if: failure()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          success_count=$(gh run list --workflow=main.yml --limit 14 --json conclusion | jq '[.[] | select(.conclusion == "success")] | length')
          if [ "$success_count" -eq 0 ]; then
            echo "Everything that has a beginning has an end."
            echo "self_destruct=yes" >> $GITHUB_ENV
          else
            echo "And in case i don't see you,good afternoon,good evening,and good night!"
          fi

      - name: Self Destruct
        if: failure() && env.self_destruct == 'yes'
        run: |
          echo "Start the self-destruct process..."
          sed -i 's/- cron:/# - cron:/' .github/workflows/cron.yml

      - name: Commit and Push
        if: success() || env.self_destruct == 'yes'
        run: |
          if [ "${{ env.self_destruct }}" == "yes" ]; then
            commit_message="Self Destruct Activated - $(date)"
          else
            commit_message="Create Snapshot By $(date)"
          fi
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add ./docs/ ./README.md .github/workflows/cron.yml
          git commit -m "${commit_message}"
          git push origin main
